# Do not add node_modules directory to source control because it breaks in Windows :(
**/node_modules
# Do not add built files to source control
symplie/dist/*
# Do not add zipped chrome extension
symplie.zip
