.md-viewer-wrapper {
  background: #fff;
  height: 100%;
  overflow: auto;
  position: relative;
  width: 100%;
}

.md-viewer {
  box-sizing: border-box;
  background: #fff;
  padding: 10px 10px 100px 10px;
  width: 100%;
}

.textarea {
  background: rgba(245,245,245,0.4);
  border-radius: 4px;
  min-height: 25px;
  outline: none;
  padding: 0;
  width: 100%;
}

.textarea ul {
  outline: none;
}

.textarea h3 {
  outline: none;
}

.markdown-body.md-viewer ul li.task.uncompleted {
  list-style-image: url('../../img/uncompleted-task.svg');
}

.markdown-body.md-viewer ul li.task.completed {
  list-style-image: url('../../img/completed-task.svg');
}