@font-face {
    font-family: 'Roboto Light';
    font-style: normal;
    font-weight: 300;
    src: url('../../fonts/Roboto-Light.ttf');
}

.header-wrapper {
    background: #fff;
    box-shadow: 0 5px 5px -5px rgba(0,0,0,0.4);
    height: 26px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
}

.header-title {
    color: #333;
    font-family: 'Roboto Light';
    height: 25px;
    letter-spacing: 0.5em;
    line-height: 26px;
    text-align: center;
}

.header-title .unsaved-indicator {
    color: #f2992e;
    display: inline-block;
    font-size: 10px;
    height: 25px;
    position: relative;
    top: -3px;
}

.header-title .unsaved-indicator.hide {
    visibility: hidden;
}

.header-btn {
    cursor: pointer;
    height: 26px;
    opacity: 1.0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 25px;
    -webkit-transition: all 0.2s ease-in-out;
            transition: all 0.2s ease-in-out;
}

.header-back-btn {
    left: 0;
}

.header-settings-btn {
    right: 5px;
}

.header-back-btn.hide {
    cursor: default;
    left: 25px;
    opacity: 0.0;
}

.header-full-screen-btn {
    left: 5px;
}

.header-full-screen-btn.hide {
    cursor: default;
    left: -25px;
    opacity: 0.0;
}

.fullscreen .header-full-screen-btn {
    display: none;
}

.header-btn:hover {
    background: rgba(245,245,245,0.8);
}

.header-btn.hide:hover {
    background: #fff;
}

.header-btn .octicon {
    color: #333;
    font-size: 20px;
    line-height: 26px;
    padding-right: 2px;
}

/* Don't actually hide the settings button in full screen mode */
@media (max-width: 749px) {
    .header-settings-btn.hide {
        cursor: default;
        right: 30px;
        opacity: 0.0;
    }
}

@media (min-width: 750px) {
    /* Never show the back button in full screen mode */
    .header-back-btn { display: none; }
}