.symplie-wrapper-outer {
  height: 580px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.pop-up-content-wrapper {
  height: 554px;
  overflow: hidden;
  position: absolute;
  top: 25px;
  -webkit-transition: left 0.4s ease-in-out;
          transition: left 0.4s ease-in-out;
  width: 900px;
}

.pop-up-content-wrapper.menu { left: 0%; }
.pop-up-content-wrapper.notepad { left: -100%; }

.symplie-menu-wrapper {
  background: #fff;
  float: left;
  height: 100%;
  margin: 0;
  width: 50%;
}

.symplie-note-wrapper {
  background: rgba(245, 245, 245, 0.8);
  float: left;
  height: 100%;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  width: 50%;
}

.symplie-note-pnl {
  width: 100%;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
          transition: transform 0.5s;
}

.symplie-note-pnl figure {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.symplie-note-pnl .front { }

.symplie-note-pnl .back {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.symplie-note-pnl.flipped {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.symplie-note-pnl.flipped .md-editor {
  display: block;
}

.symplie-note-pnl .front { z-index: 1; }
.symplie-note-pnl .back { z-index: 0; }
.symplie-note-pnl.flipped .front { z-index: 0; }
.symplie-note-pnl.flipped .back { z-index: 1; }

/* Common to all animations
------------------------------------------------------------------------------*/
.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}