html { height: 100%; width: 100%; }
body { height: 100%; width: 100%; }

.symplie-wrapper-outer {
  height: 580px;
  overflow: hidden;
  position: relative;
  width: 450px;
}

.pop-up-content-wrapper {
  box-sizing: border-box;
  height: 100%;
  overflow: hidden;
  padding-top: 26px;
  position: absolute;
  top: 0;
  -webkit-transition: left 0.4s ease-in-out;
          transition: left 0.4s ease-in-out;
  width: 200%;
}

.pop-up-content-wrapper.menu { left: 0%; }
.pop-up-content-wrapper.notepad { left: -100%; }

.symplie-menu-wrapper {
  background: #fff;
  box-sizing: border-box;
  float: left;
  height: 100%;
  margin: 0;
  position: relative;
  width: 50%;
  z-index: 2;
}

.symplie-note-wrapper {
  background: rgba(245, 245, 245, 0.8);
  
  float: left;
  height: 100%;
  position: relative;
  -webkit-perspective: 800px;
          perspective: 800px;
  width: 50%;
}

.symplie-note-pnl {
  box-sizing: border-box;
  height: 100%;
  position: absolute;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transition: transform 0.5s;
          transition: transform 0.5s;
  width: 100%;
}

.symplie-note-pnl figure {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.symplie-note-pnl .front { }

.symplie-note-pnl .back {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.symplie-note-pnl.flipped {
  -webkit-transform: rotateY( 180deg );
          transform: rotateY( 180deg );
}

.symplie-note-pnl.flipped .md-editor {
  display: block;
}

.symplie-note-pnl .front { z-index: 1; }
.symplie-note-pnl .back { z-index: 0; }
.symplie-note-pnl.flipped .front { z-index: 0; }
.symplie-note-pnl.flipped .back { z-index: 1; }

/* Common to all animations
------------------------------------------------------------------------------*/
.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

/* Full Screen
------------------------------------------------------------------------------*/

/*.full-screen .symplie-menu-wrapper {
    border-right: 1px solid #ddd;
    box-sizing: border-box;
  }
*/

.fullscreen .symplie-wrapper-outer { height: 100%; width: 100%; }

@media (min-width: 750px) {
  .pop-up-content-wrapper { height: 100%; width: 100%; }
  .pop-up-content-wrapper.menu { left: 0; }
  .pop-up-content-wrapper.notepad { left: 0; }

  .symplie-wrapper-outer {
    height: 100%;
    width: 100%;
  }

  .symplie-menu-wrapper {
    border-right: 1px solid #ddd;
    width: 45%;
  }

  .symplie-note-wrapper {
    width: 55%;
  }
}

@media (min-width: 1100px) {
  .symplie-wrapper-outer {
    height: 100%;
    width: 100%;
  }

  .symplie-menu-wrapper {
    width: 30%;
  }

  .symplie-note-wrapper {
    width: 70%;
  }
}