@font-face {
  font-family: 'Source Code Pro';
  src: url('../../fonts/SourceCodePro-Regular.ttf') format('truetype')
  font-weight: normal;
  font-style: normal;
}


.md-editor-wrapper {
  background: #fff;
  box-sizing: border-box;
  height: 100%;
  padding: 10px;
  width: 100%;
}

.md-editor {
  background-color: #fff;
  -webkit-box-shadow: none;
     -moz-box-shadow: none;
          box-shadow: none;
  display: none;
  font-family: 'Source Code Pro', 'Courier New', Courier, Monospace;
  height: 100%;
  width: 100%;
  border: none;
  overflow: auto;
  outline: none;
  resize: none;
}

.md-editor:focus {
  border: none;
  outline: none;
}