.list-btn-wrapper {
    border-bottom: 1px solid #ddd;
    height: 40px;
    width: 100%;
}

.list-btn {
    background: #fff;
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    float: left;
    font-family: 'Roboto Light', Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 40px;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
            user-select: none;
    width: 50%;
}

.list-btn .octicon.octicon-primitive-dot.tiny {
    color: #5cb85c;
    display: inline-block;
    font-size: 10px;
    opacity: 0.0;
    padding-right: 5px;
    position: relative;
    top: -2px;
    -webkit-transition: opacity 0.2s linear;
            transition: opacity 0.2s linear;
}

.list-btn .octicon.octicon-primitive-dot.tiny.active {
    opacity: 1.0
}

.list-btn:hover {
    background: rgba(245,245,245,0.8);
}

.created-dt-btn {
    border-right: 1px solid #ddd;
}

.note-list {
    border-style: none;
    height: 514px;
    margin: 0;
    overflow: auto;
    padding: 0;
}

.note-list-item {
    border-bottom: 1px solid #ddd;
    box-sizing: border-box;
    cursor: pointer;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    height: 40px;
    line-height: 20px;
    padding: 10px;
}
.note-list-item:hover {
    background: rgba(245,245,245,0.8);
}

.note-list-item .note-title {
    color: #333;
    float: left;
    width: 60%;
}

.note-list-item .note-date {
    color: #aaa;
    float: left;
    font-size: 12px;
    text-align: right;
    width: 30%;
}

.note-list-item .note-select-btn {
    color: #333;
    float: left;
    font-size: 20px;
    text-align: right;
    width: 10%;
}