.symplie-btn-wrapper {
  bottom: 10px;
  height: 48px;
  position: absolute;
  left: 201px;
  width: 48px;
  z-index: 10;
}

.symplie-btn-wrapper.hide { display: none; }

.symplie-btn {
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    position: absolute;
    text-align: center;
    text-shadow: 0 2px rgba(0,0,0,0.2);
}

.symplie-btn:active { outline: none; }
.symplie-btn:focus { outline: none; }

.symplie-btn.inner {
  background: #fff; /*#68be79;*/
  border: 2px solid #333;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  color: #333;
  display: block;
  height: 46px;
  line-height: 52px;
  margin: 0;
  padding: 0;
  position: absolute;
  width: 46px;
  z-index: 15;
}

.symplie-btn.inner {
  color: #333;
}

.symplie-btn.inner:active {
  box-shadow: 0 0 3px rgba(0,0,0,.3);
  height: 46px;
  left: 1px;
  top: 1px;
  width: 46px;
}

.octicon.large {
  font-size: 28px;
}

.symplie-btn.element-btn {
  border: none;
  box-shadow: 0 0 6px rgba(0,0,0,.3);
  color: #fff;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 15px;
  font-weight: bold;
  height: 32px;
  line-height: 30px;
  -webkit-transition: left 0.15s linear, top  0.15s linear, height 0.15s linear;
     -moz-transition: left 0.15s linear, top  0.15s linear, height 0.15s linear;
          transition: left 0.15s linear, top  0.15s linear, height 0.15s linear;
  width: 32px;
  z-index: 5;
}

.symplie-btn-wrapper.view .symplie-btn.element-btn,
.symplie-btn-wrapper.new-element .symplie-btn.element-btn,
.symplie-btn-wrapper.markdown .symplie-btn.element-btn {
  left: 8px;
  top: 8px;
}

.symplie-btn-wrapper.markdown .symplie-btn.element-btn.one   { left: -126px; }
.symplie-btn-wrapper.markdown .symplie-btn.element-btn.two   { left: -84px;  }
.symplie-btn-wrapper.markdown .symplie-btn.element-btn.three { left: -42px;  }
.symplie-btn-wrapper.markdown .symplie-btn.element-btn.four  { left: 58px;   }
.symplie-btn-wrapper.markdown .symplie-btn.element-btn.five  { left: 100px;  }
.symplie-btn-wrapper.markdown .symplie-btn.element-btn.six   { left: 142px;  }

.symplie-btn-wrapper.choose-element .symplie-btn.element-btn:active {
  height: 31px;
  font-size: 14px;
  line-height: 28px;
  width: 31px;
}

#header-btn { background: #555;    }
#link-btn   { background: #529ecc; }
#bullet-btn { background: #f2992e; }
#task-btn   { background: #56bc8a; }
#link-btn   { background: #529ecc; }
#quote-btn  { background: #aaa;    }
#code-btn   { background: #a77dc2; }


/* Pulled and modified from:

Animate.css - http://daneden.me/animate
Licensed under the MIT license - http://opensource.org/licenses/MIT
Copyright (c) 2014 Daniel Eden
*/
@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    transition-timing-function: cubic-bezier(0.0, 0.610, 0.355, 1.000);
    transform: translate3d(0,0,0);
  }

  40%, 43% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -30px, 0);
  }

  70% {
    transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    transform: translate3d(0, -15px, 0);
  }

  90% {
    transform: translate3d(0,-4px,0);
  }
}

.bounce {
  -webkit-animation-name: bounce;
  transform-origin: center bottom;
}

.animated {
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}