<!doctype html>
<html ng-app='SymplieApp' ng-csp>
  <head>
    <meta charset='UTF-8'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'>
    <title>Symplie</title>
    <!-- Styles -->
    <link href='/dist/bundle.min.css' rel='stylesheet'>
    <!-- Scripts -->
    <script src='/src/js/lib/jquery.min.js'></script>
    <script src='/src/js/lib/angular.min.js'></script>
    <script src='/src/js/lib/angular-sanitize.min.js'></script>
    <script src='/dist/bundle.js'></script>
  </head>
  <body>
    <div class='symplie-wrapper-outer' ng-controller='NoteCtrl'>
      <!-- Header -->
      <div class='header-wrapper'>
        <div class='header-title'><span class='octicon octicon-primitive-dot unsaved-indicator hide'></span>SYMPLIE<span class='octicon octicon-primitive-dot unsaved-indicator {{(unsaved) ? "" : "hide"}}'></span></div>
        <div class='header-back-btn {{(symplieState === "menu") ? "hide" : ""}}' ng-click='backToMenu()'>
          <span class='octicon octicon-chevron-left'></span>
        </div>
      </div>
      <!-- Pop-Up Content -->
      <div class='pop-up-content-wrapper {{symplieState}}'>
        <div class='symplie-menu-wrapper'>
          <div sympliemenu
            notes='notes'
            current-note='currentNote'
            symplie-state='symplieState'
            inner-btn-octicon='innerBtnOcticon'
            old-note-content='oldNoteContent'></div>
        </div>
        <div class='symplie-note-wrapper'>
          <div class='symplie-note-pnl {{(notepadState == "markdown") ? "flipped" : ""}}'>
            <figure class='front'>
              <div md-viewer note='currentNote'
                selected-element='selectedElement'
                create-element='createElement'
                unsaved='unsaved'></div>
            </figure>
            <figure class='back'>
              <md-editor note='currentNote'></md-editor>
            </figure>
          </div>
        </div>
      </div>
      <div sympliebtn
        symplie-state='symplieState'
        notepad-state='notepadState'
        inner-btn-octicon='innerBtnOcticon'
        selected-element='selectedElement'
        create-element='createElement'
        notes='notes'
        current-note='currentNote'
        unsaved='unsaved'
        old-note-content='oldNoteContent'></div>
    </div>
  </body>
</html>