<div class='symplie-btn-wrapper {{notepadState}} {{selectedElement}}'>
  <button class='symplie-btn inner' ng-click='centerBtnHandler()'>
    <span class='octicon large {{innerBtnOcticon}}'></span>
  </button>

  <button id='header-btn' class='symplie-btn element-btn one'
      ng-click='bounceBtn($event); addMarkdownElement("header")'>
    H
  </button>
  <button id='bullet-btn' class='symplie-btn element-btn two'
      ng-click='bounceBtn($event); addMarkdownElement("bullet")'>
    <span class="octicon octicon-primitive-dot"></span>
  </button>
  <button id='task-btn' class='symplie-btn element-btn three'
      ng-click='bounceBtn($event); addMarkdownElement("task")'>
    <span class="octicon octicon-check"></span>
  </button>
  <button id='link-btn' class='symplie-btn element-btn four'
      ng-click='bounceBtn($event); addMarkdownElement("link")'>
    <span class="octicon octicon-link"></span>
  </button>
  <button id='quote-btn' class='symplie-btn element-btn five'
      ng-click='bounceBtn($event); addMarkdownElement("quote")'>
    <span class="octicon octicon-quote"></span>
  </button>
  <button id='code-btn' class='symplie-btn element-btn six'
      ng-click='bounceBtn($event); addMarkdownElement("code")'>
    <span class="octicon octicon-code"></span>
  </button>
</div>