<div class='list-btn-wrapper'>
  <div class='created-dt-btn list-btn' ng-click='orderByCreatedDate()'>
      Created Date
  </div>
  <div class='updated-dt-btn list-btn' ng-click='orderByUpdatedDate()'>
      Updated Date
  </div>
</div>

<ul class='note-list'>
  <li class='note-list-item' ng-repeat='note in notes | orderBy : order : true' ng-click='viewNote(note)'>
    <div class='note-title'>{{note | title}}</div>
    <div class='note-date'>{{note.createdAt | date : 'MMM d, y'}}</div>
    <div class='note-select-btn octicon octicon-chevron-right'></div>
  </li>
</ul>