<div class='symplie-btn-wrapper {{notepadState}} {{selectedElement}}'>
  <button class='symplie-btn inner' ng-click='centerBtnHandler()'>
    <span class='octicon large {{innerBtnOcticon}}'></span>
  </button>
  <button id='paragraph-btn' class='symplie-btn radial ninety' ng-click='newParagraphInput()'>
    Aa
  </button>
  <button id='bullet-btn' class='symplie-btn radial one-twenty' ng-click='newBulletInput()'>
    <span class="octicon octicon-primitive-dot"></span>
  </button>
  <button id='todo-btn' class='symplie-btn radial one-fifty' ng-click='newToDoInput()'>
    <span class="octicon octicon-check"></span>
  </button>
  <button id='cancel-btn' class='symplie-btn radial one-eighty' ng-click='cancelChooseElement()'>
    <span class="octicon octicon-x"></span>
  </button>
</div>